PORT=4100
APP_BASE_PATH=/bluedoc
ALLOWED_ORIGINS=http://cg00kq3.state.in.us,http://localhost,http://127.0.0.1
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bluedoc
SHIELD_APP_URL=http://cg00kq3.state.in.us/shield/
SHIELD_DB_HOST=127.0.0.1
SHIELD_DB_PORT=3306
SHIELD_DB_USER=root
SHIELD_DB_PASSWORD=
SHIELD_DB_NAME=shield
